@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
    background-image: url('../img/background-small.jpeg'); /* Default to small image */
    background-size: cover;
    background-position: center;
    background-attachment: scroll; /* Default to scroll for mobile devices */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 100%;
}

@media screen and (min-width: 768px) {
    body {
        background-image: url('../img/background.jpeg'); /* Larger image for larger screens */
        background-attachment: fixed; /* Apply fixed background for larger screens */
    }
}

header {
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.content-container {
    position: relative;
    max-width: 800px;
    width: 85%; /* Use relative width */
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    animation: fadeInUp 1s ease-in-out forwards;
    animation-delay: 0.5s;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.social-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333;
    font-size: 24px;
    padding: 10px 20px;
    border: 1px solid #333;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
    max-width: 300px;
    justify-content: center;
}

.social-link:hover {
    background-color: #333;
    color: #fff;
}

footer {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: small;
    margin-top: 25px;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 600px) {
    .content-container {
        width: 95%; /* Increase width for smaller devices */
    }

    .social-link {
        font-size: 18px; /* Decrease font size for smaller devices */
    }
}
